.horizontal-aligner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vertical-aligner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.y-spacer {
    width: 0.8em;
    height: 1.5em;
    display: block;
}

.x-spacer {
    width: 0.8em;
    height: 1.5em;
    display: inline-block;
}

.dark-italic {
    font-style: italic;
    color: #191d20e1 !important;
}

.dark-text {
    color: #191d20e1 !important;
}

.light-italic {
    font-style: italic;
    color: #191d20b0 !important;
}

.light-text {
    color: #191d20b0 !important;
}